<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    .person-item{
      display: flex;
      flex-direction: column;
      padding: 1rem;
      border: 1px solid black;
      margin: 1rem;
    }
    .person-item:hover{
      background-color: red;
    }
    p{
      color: black;
    }
  </style>
</head>


<body>

  <h1>Usuários:</h1>
  <div>
    {% for person in persons %}
    <div class = 'person-item' >
      <p>Nome: {{ person.name }}</p>
      <p>Sexo: {{ person.gender }}</p>
      <p>Endereço: {{ person.address }}</p>
      <p>Numero: {{ person.telephone }}</p>
    </div>
    {% endfor %}
  </div>
  
  <h2>Lugar:</h2>
  <div>
    {% for place in places %}
    <div class = 'place-item' >
      <p>Endereço: {{ place.adress }}</p>
      <p>Nível de ruído: {{ place.noise_level }}</p>
      <p>Tipo de zona: {{ place.place_type }}</p>
    </div>
    {% endfor %}
  </div>

</body>

</html>